<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>고객 조회</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h2> 고객 조회</h2>
        <div th:unless="${#lists.isEmpty(customerList)}">
            <ul th:each="customer: ${customerList}">
                <p th:text="${customer.custName}">회원명</p>
            </ul>
        </div>
    </div>
</div>
</body>
</html>